@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: whitesmoke;
    font-weight: 800;
}
button{
   color: #131516;
}
button:hover{
    background-color: #6a7981;
 }